body {
  background-color: #EEF9BF;
  font-family: 'Roboto', sans-serif;
}

/*  */

header {
  width: 100%;
  padding: 50px 0.25rem;
}

.titulo {
  text-transform: uppercase;
  color: #75B79E;
  font-size: 63px;
  font-weight: bold;
  text-align: center;
}

/*  */

main {
  width: 80%;
  margin: 0 auto;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lista li {
  margin: 1rem 2rem;
}

.lista li:hover {
  cursor: pointer;
}

.carta {
  width: 117px;
  height: 146px;
  background-color: #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carta img {
  width: 100px;
}

/*  */

@media (max-width: 450px) {
  .titulo {
    font-size: 40px;
  }
}